body {
	font-family: Verdana;
	background-color: #F1F4F6;
}

.departure {
	position: relative;
	padding: 10px 10px 10px 10px;
}
	.departure .box {
		margin: 15px 0 15px 0;
		position: relative;
		height: auto;
		overflow: auto;
		background-color: white;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		box-shadow: 3px 3px 3px 3px #ccc;		
	}

	.departure .info {
		width: 25%;
		float: left;
	}

	.departure .box .label {
		position: relative;
		margin: 20px 20px 20px 20px;
	}

	.departure .box .label span {
		font-weight: bold;
		text-align: center;
		color: white;
		padding: 10px 20px 10px 20px;
		margin: 0 10px 0 10px;
		background-color: black;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		box-shadow: 1px 1px 1px 1px #ccc;
	}

	.departure .box .headsign {
		position: absolute;
		left: 150px;
		top: 10px;
		margin: 10px;
		font-size: 110%;
	}

	.departure .box .time {
		position: absolute;
		right: 0px;
		top: 10px;
		margin: 10px 25px 10px 10px;
		text-align: right;
		font-size: 110%;
	}