body {
	font-family: Verdana;
	background-color: #F1F4F6;
}

.journey {
	position: relative;
	padding: 10px 10px 10px 10px;
}

	.journey .box {
		margin: 15px 0 15px 0;
		position: relative;
		height: auto;
		overflow: auto;
		background-color: white;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		box-shadow: 3px 3px 3px 3px #ccc;
	}

	.journey .main {
		width: 100%;
		float: right;
		display: flex;
		justify-content: center;
	}

		.journey .main .departure {
			width: 15%;
		}

		.journey .main .arrival {
			width: 15%;
		}

		.journey .main .segments {
			width: 70%;
			text-align: center;
		}

			.journey .main .segments li {
				display: inline-block;
				font-weight: bold;
				text-align: center;
				color: black;
				margin: 3px 7px 0px 7px;
			}

			.journey .main .segments .Footpath {
				font-size: 70%;
				padding: 10px 8px 10px 8px;
				content: url('img/icons8-walking-32.png');
				position: relative;
				top: 3px;
				background-color: grey;
			}

		.journey .main .time {
			margin: 10px 10px 10px 10px;
			text-align: center;
			font-size: 120%;
		}

		.journey .main .station {
			margin: 10px 10px 10px 10px;
			text-align: center;
		}