body {
	font-family: Verdana;
	background-color: #F1F4F6;
}

.journey {
	position: relative;
	padding: 10px 10px 10px 10px;
	margin-bottom: 50px;
}

	.journey .detail h1 {
		margin: 0;
		background-color: grey;
		color: white;
		font-weight: 600;
		padding: 15px 10px 15px 10px;
		font-size: 120%;
	}

	.journey .detail ol {
		list-style-type: none;
	}

	.journey .detail {
		font-size: 80%;
	}
