<Timetables>
  <Language>Czech</Language>
  <ExtraEventsUri>https://pid.cz/feed/rss-mimoradnosti</ExtraEventsUri>
  <LockoutsUri>https://pid.cz/feed/rss-vyluky</LockoutsUri>
  <ServerIp>10.0.2.2</ServerIp>
  <RouterPort>27000</RouterPort>
  <DepartureBoardPort>27001</DepartureBoardPort>
  <BasicDataPort>27002</BasicDataPort>
	<AllowSubway>True</AllowSubway>
	<AllowTram>True</AllowTram>
	<AllowBus>True</AllowBus>
	<AllowShip>True</AllowShip>
	<AllowTrain>True</AllowTrain>
	<AllowCablecar>True</AllowCablecar>
	<WalkingSpeedCoefficient>1.0</WalkingSpeedCoefficient>
</Timetables>